model = "gpt-5.3-codex"
model_verbosity = "medium"
preferred_auth_method = "apikey"
approval_policy = "on-request"
sandbox_mode = "workspace-write"
model_reasoning_effort = "high"
web_search = "live"
suppress_unstable_features_warning = true

[sandbox_workspace_write]
network_access = true

[features]
skills = true
unified_exec = true
shell_snapshot = true
collab = true
steer = true
collaboration_modes = true
apps = true
personality = true

# MCP Tools
[mcp_servers.codex_apps]
enabled = false

[mcp_servers.context7]
command = "bunx"
args = ["-y", "@upstash/context7-mcp@latest"]

# [mcp_servers.chrome]
# command = "bunx"
# args = ["chrome-devtools-mcp@latest"]
